// Esquema de Cores

$colorPrimary: #fff;
$colorBackground: #44bd32;
$colorBackgroundHover: #4cd137;
$colorText: #fff;
$colorBackgroundBody: #f5f6fa;
$colorBackgroundHeader: #182c61;
$colorBackgroundHeaderhover: #4268cf;
